<section class="container container-hero">
  <div class="title-box">
    <h1 class="hero-title">
      Welcome to our <span>collection</span> of premium watches
    </h1>
    <p class="hero-item">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
  </div>
  <div class="Hero-reviews">
    <div class="hero-img">
      <img
        src="/img/hero/Card1.png"
        alt="Victoria Romashenko"
        width="44"
        height="44"
      />
    </div>
    <div class="hero-img">
      <img src="/img/hero/Card2.png" alt="John Wax" width="44" height="44" />
    </div>
    <div class="hero-img">
      <img
        src="/img/hero/Card3.png"
        alt="Anastasia Trachuk"
        width="44"
        height="44"
      />
    </div>
    <a class="hero-link" href="#footer-main">Scroll down</a>
  </div>
  <picture class="hero-fon">
    <source
      srcset="/img/hero/Watch.png 1x, /img/hero/Watch-2x.png 2x"
      media="(min-width: 1280px)"
    />
    <source
      srcset="/img/hero/Watch-tab.png 1x, /img/hero/Watch-tab-2x.png 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="/img/hero/Watch-mob.png 1x, /img/hero/Watch-mob-2x.png 2x"
      media="(max-width: 768px)"
    />
    <img src="/img/hero/Watch-mob.png" alt="Watch" class="hero-fon-img" />
  </picture>
</section>
